DATABASE_URL=postgresql://user:password@localhost:5432/hms

BETTER_AUTH_SECRET=generate_with_openssl_rand_base64_32
BETTER_AUTH_URL=http://localhost:3000

RESEND_API_KEY=re_xxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=HMS Hotel <onboarding@resend.dev>

NEXT_PUBLIC_APP_URL=http://localhost:3000

ADMIN_EMAIL=your_email
ADMIN_PASSWORD=your_password

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
